/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Apply to the entire page */
    body {


        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
   


header {
    background-color: #388e3c;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    color: white;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    flex: 1;
    padding: 20px;
    background-color: #f0f5f0;
}

.tab-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.auth-buttons a {
    background-color: #388e3c;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.auth-buttons a:hover {
    background-color: #4caf50;
}

/* Background Image Section */
.background-image-section {
    height: 100vh; /* Half the viewport height */
    background-image: url('./new\ theme.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.background-image-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.background-image-section p {
    font-size: 16px;
    max-width: 600px;
}

/* Footer */
footer {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 10px;
}
